{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog - Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <h1 href="#">My Blog</h1>
    </div>
    <div class="new-body">
        <div class="card" >
          <div>
            <a href="create/" class="btn btn-outline-primary">Create New Blog</a>
            <a href="/signout" class="btn btn-outline-danger" style="float: right;">Logout</a>
          </div>
        </div>
        
        {% for blogs in blogs %}
          <div class="card">
            <a style="text-decoration: none; color: black;" href="post/{{blogs.id}}">  
                <h3 class="card-title">{{ blogs.title }}</h3>
                <div class="card-body">
                  <h5>{{ blogs.date_posted }}</h5>
                  <p class="card-text">{{ blogs.content }}</p>    
                </div>
            </a>  
          </div>
        {% endfor %}
    </div>
    <footer class="bd-footer py-5 mt-5 bg-light">
        <h5 style="text-align: center;">Django Blog &#169 2021</h5>    
    </footer>
</body>
</html>