{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog - Create Blog</title>

  <link rel="stylesheet" type="text/css"  href="{% static 'main.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="header">
    <h1 href="#">My Blog</h1>
</div>
  <div class="new-body">
    <div class="card" >
        <div>
            <a href="/blogs" class="btn btn-outline-primary">Back</a>
            <a href="/signout" class="btn btn-outline-danger" style="float: right;">Logout</a>
        </div>
    </div>
    <div class="card">
      <form method="POST">
        {% csrf_token %}
        <label for=""><h4>Blog Title</h4></label>
        <input type="text" name="title" style="width: 100%;"><br>
        <label for=""><h4>Blog content</h4></label><br>
        <textarea name="content" id="" style="width: 100%;" cols="30" rows="10"></textarea><br>
        <button type="submit" class="btn btn-outline-warning">Submit</button>
      </form>
    </div>
  </div>
  <footer class="bd-footer py-5 mt-5 bg-light">
    <h5 style="text-align: center;">Django Blog &#169 2021</h5>    
</footer>
</body>
</html>