
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <link rel="stylesheet" href="{% static 'blogs/images/create.css' %}">
    <title>Create blog</title>
    {% endblock %}
</head>

{% block content %}
<body>
    <div class="nav">
     <div align="right" class="text">
         <img class="new" src="{% static 'blogs/images/new.png' %}" height="50px" width="50px">  {{username}}
     </div>
    </div>
    <h2 align="center">Create New Blog</h2>
       <div class="create-box">
        <form method="POST" action="create">
          {% csrf_token %}
             {{form}}
           <div align="center">
              <button  class="subbutton">Submit</button>
           </div>
        </form>
       </div>
        <div class="image">
        <img src="{% static 'blogs/images/create.jpg' %}" height="280px" width="450px" alt="create blogs" title="create blogs">
        </div>
</body>
{% endblock %}
</html>