

* {
  box-sizing: border-box;
  margin: 0;
 
  font-family: "Lucida Grande";
}

.header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  align-items: center;
}

.header-container {
  background-color: rgba(34, 49, 52, 0.9);
  padding-left: 0px;
  padding-right: 0px;
  width: 60%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  height: 60px;
}

.menu-icon {
  background-color: rgba(34, 49, 52, 0.9);
}

.fa-menu-icon {
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  display: flex;
  height: 60px;
  align-items: center;
}

.fa-menu-icon-fa {
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  font-size: xx-large;
}


ul {
  background-color: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.fa-bar-menu-icon {
  background-color: rgba(34, 49, 52, 0.9);
  color: white;
  display: flex;
  height: 60px;
  align-items: center;
  font-size: large;
}

.fa-bar-menu-icon:hover {
  background: #505050;
  color: #F4A460;
  padding-left: 12px;
  
    
}

/*============*/
.containers {
  align-items: left;
  background: white;
  padding-left: 0px;
  padding-right: 0px;
  width: 60%;
  margin: auto;
  height: 550px
}
h1 {
  width: 100%;
  height: 60px;
  padding-top: 1.2em;
  padding-bottom: 1em;
  color: #e97f23;
}

.contact-form {
  padding-top: 1.4em;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height : 400px;
}


.form-container {
  width: 100%;
  background: white;
  align-items: left;
}

.elements {
  width: 100%;
  background: white;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

input {
   height: 30px;
   border-color: white #999999 #999999 white;

 }

.submit {
  background-color: #303030;
  color: white;
  height: 40px;
  width: 80px;
}
/*-------------------*/
.bottom-container {
  background: white;
  width: 60%;
  margin: auto;
  display: flex;
  padding-top: 30px;

}

.sub-container-1 {
  background: #F0F0F0;
  height: 200px;
  text-align: center;
  flex:1;
  padding-top: 45px;
}
.sub-container-1:hover{
  background-color: #f8c9a0;
 color: black;
}

.sub-container-2 {
  background: #F0F0F0;
  height: 200px;
  flex:1;
  text-align: center;
  padding-top: 45px;

}
.sub-container-2:hover{
  background-color: #f8c9a0;
 color: black;
}
.sub-container-3 {
    background: #F0F0F0;
    height: 200px;
    text-align: center;
    flex:1;
    padding-top: 45px;
}
.sub-container-3:hover{
  background-color: #f8c9a0;
 color: black;
}
.sub_b {
  background-color: #F0F0F0;
  color: black;
 }
 
/*--------------------*/
.footer {
  
 
  width:100%;
  height:60px;
  background-color: rgba(34, 49, 52, 0.9);
  text-align: center;
  padding-top: 1.5em;
  color: white;
}

.fa-footer {
 border-radius: 100%;
 padding: 0px;
 border: 1px solid white;
 background-color: rgba(34, 49, 52, 0.9);
 color: white;
 text-align: center;
}

