h2{
 font-family: "McLaren", cursive;
 font-size: 50px;
}

table
{ height:280px;
  width:100%;
  border:2px black;

}

.create-box{
    position:fixed;
    width:400px;
    height:350px ;
    left:50px;
    margin: auto;
    border-radius: 3px;
    border:30px white;
    background:rgba(0,0,0,0.3);
    box-shadow:0 0 10px -3px rgba(0,0,0,0.1);
    z-index: 2;
}

form{
    width: 300px;
    margin-left: 40px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;

}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.subbutton
{
    padding:10px;
    background-color: #A7C7E7;
    border-radius:5px;
    margin:15px;
    font-size: 15px;
}

.subbutton:hover
{
    transform:scale(1.3);
}

.image
{   position:fixed;
    right:200px;
    bottom:105px;
}

.image:hover
{
   opacity: 0.8;
   transform:scale(1.1);
}

.text
{ font-family: "McLaren", cursive;
    position:fixed;
    font-size: 30px;
    left:1075px;
    top:10px;
   color:white;
}

.new
{
    position:fixed;
    top:10px;
    right:300px;
}

.nav
{   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("logback.jpg");
    margin: auto -16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    display:flex;
    height:70px;
    width:100%;
}