
body
{ background-color: white;

}

.login-box{
  position:absolute;
  top:30%;
  left:35%;
  width:360px ;
  height:280px ;
  margin: auto;
  border-radius: 3px;
  border:30px white;
  background:rgba(0,0,0,0.3);
  box-shadow:0 0 10px -3px rgba(0,0,0,0.1);
  z-index: 3;
}

.subbutton
{
    padding:10px;
    background-color: #A5D8DD;
    border-radius:10px;
    margin:15px;
    width: 280px;
    font-family:"McLaren", cursive;
    font-size: 15px;
    text-decoration: solid;
}

.subbutton:hover
{
    transform:scale(1.3);
}


.banner {
  height: 70vh;
  background-image:url("blog.jpg"),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:30px;
}


.topnav
{
  background-color:white;
  overflow:hidden;
}

.text
{  font-family: "McLaren", cursive;
    font-size: 80px;
    margin:auto;
}


.cont
{ position: absolute;
  top:130px;
  left:430px;
  height:380px;
  width:fit-content;
  padding:60px;
  margin-bottom:30px;
}

.footer
{ 
  background-color: grey;
}

.info
{ margin-top:30px;
  font-family:"McLaren", cursive;
  color:white;
  font-size: 20px;
  overflow:hidden;
}


.container {
  margin-left: 70px;
  margin-bottom: 70px;
  margin-top:70px;
  position: relative;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 350px;
  height: 275px;
  overflow: hidden;
  transition: 1s;
}

.container .box:hover {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .box .imgBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, rgba(91, 244, 255, 0.952), #000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.container .box:hover .imgBox::before {
  opacity: 1;
}

.container .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.container .box .content h4 {
  color: white;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px;
  transform: translateY(180px);
}

.container .box:hover .content h4 {
  transform: translateY(0);
  transition-delay: 0.6s;
}

.container .box .content p {
  color: #fff;
  transform: translateY(180px);
  transition: 0.5s;
  font-size: 14px;
}

.rating {
  color: rgba(255, 166, 0, 0.918);
  transition: 0.5s;
  margin-bottom: 10px;
  transform: translateY(180px);
}
.container .box:hover .content .rating {
  color: rgba(255, 166, 0, 0.918);
  transition: 0.5s;
  margin-bottom: 10px;
  transform: translateY(0);
  transition-delay: 0.6s;
}

.container .box:hover .content p {
  transform: translateY(0);
  transition-delay: 0.6s;
}









.row {
  display: flex;
}
.col_4 {
  flex-wrap: wrap;
  flex-basis: 30%;
  min-width: 50px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col_4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: orange;
  width: 80px;
  height: 5px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  font-weight: normal;
  color: #555;
}
.col_4 {
  font-size: 14px;
}

.rating .fa {
  color: rgba(255, 166, 0, 0.918);
}
.col_4:hover {
  transform: translateY(-5px);
}

.under
{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: black;
}

.under::after
{ content: "";
  background: gold;
  width: 100px;
  height: 5px;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}