{% extends "index.html" %}

{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'sportix/images/password.css' %}">

{% endblock %}

{% block content %}

      <div class="login-box">
            <div class="welcome">
            Welcome {{name}} 
            </div>
      <form method="POST" action="{% url 'membership' %}">
            {% csrf_token %}
            {{form}}   
            <br>
        <div align="center">   
        <button class="subbutton" >Submit</button>
        </div>
      </form>
      </div>

      <div class="back">
      <div class="image">
            
            <h1>Sportix</h1>
      </div>
      </div>
{% endblock %}