{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app1/images/login.css' %}">
    <title>Blogs | Signup</title>
    <link rel="icon" href="{% static 'app1/images/logo.jpg' %}">
    <title>Sign up</title>
</head>
<body>

    {% if messages %}
    <h1>
        {{messages}}</h1>

    {% endif %}
  <div class="box">  
    <div class="login-box">
    <form method="POST" >
        {% csrf_token %}
        <h1 align="center">Signup</h1>
        <label id="email">Email</label>   
        <input type="email" name="email" placeholder="Enter your email">
        <label id="password">Password</label>   
        <input type="password" name="password" placeholder="Enter your password">
        <div align="center">
            <button  class="subbutton">Submit</button>
        </div>
        
    </form>
    </div>
    <div class="info">
        <div class="textarea">
        <h1>Blogs</h1>
        {% if messages %}
        <h1>{{messages}}</h1>
         {% endif %}
       </div>
    </div>
    </div>
</body>
</html>