<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    Welcome to my website
    <form method="POST" >
        {% csrf_token %}

        <input type="email" name="email" placeholder="enter your email">
        <input type="password" name="password" placeholder="enter your password">
        <input type="submit">
        
    </form>
    <div style="background-color: blue;">
        {% if messages %}
        Messages
        
        {{messages}}
        {% endif %}
    </div>
</body>
</html>