* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.container {
	min-height: 100px;
	width: 900px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Header section */
#header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}
#header .header {
	min-height: 8px;
	background-color: rgb(46, 46, 46);
}

#header .header .nav-list .logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 200px;
    font-weight: italic;
}

#header .nav-list ul {
    float: right;
    margin-right: 200px;
	list-style: none;
	position: relative;
    line-height: 65px;
	display: flex;
}

#header .nav-list ul a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	display: block;
    padding: 7px 15px;
    border-radius: 3px;
}
#header .nav-list ul li:hover a {
	color: rgb(250, 203, 115);
    background: rgb(100, 99, 99);
    transition: .5s;
}

.contact h1{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.contact h1 span{
    color: rgb(250, 203, 115);
}

#form input[type='text'] {
    display: inline;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
  }

  #form input[type='email'] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    border: 1px solid rgb(0, 0, 0);
  }

  #button input[type='submit'] {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding: 5px 10px;
  }

  #card{
    display: flex;
  }

  #card .card{
    background-color: rgb(226, 226, 226);
  }

  #card .card:nth-child(even){
    background-color: rgb(250, 203, 115);
  }

  footer{
    position: relative;
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    width: 100%;
	height: auto;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 0px;
} 
