body{ 
    background-image:url("bg.jpg"),linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-size:cover;
}

h1 {
	margin: 50px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(250, 243, 243, 0.3), 1px 1px 1px rgba(29, 28, 28, 0.8);
	color: rgb(250, 245, 245);
	opacity: 0.4;
	font: 700 50px 'Bitter';
}

.login-box{
    background-color: white;
    background-size: cover;
    position:absolute;
    width:470px ;
    height:fit-content ;
    top:185px;
    left:410px;
    border-radius: 6px;
    border:30px white;
    z-index: 2;
    padding:35px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);  
}

.welcome
{
    font-size:50px;
    font-weight: bold;
}

.back
{   position: relative;
    height:800px;
    width:200px;
    left:300px;
    top:75px;
}

.image
{   position: fixed;
    height:fit-content;
    width: fit-content;
    box-shadow: 0 0 25px 0 rgba(145, 102, 102, 0.1); 
    left:200px;
    top:100px;
    font-family: "McLaren", cursive;
    font-weight: bold;
    text-align: center;
}

form{
    width: 300px;
   margin-left:90px;
}
form label{
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
   
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.subbutton
{
    height:40px;
    width:100px;
    margin-top: 17px;
    background:black;
    color:white;
    border-radius:5px;
}
.subbutton:hover
{
    transform:scale(1.1);
    background: grey;
    color:black;
    font-weight: bold;
}

