<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django Blog - Index</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div class=" card text-center">
            <div style="padding: 170px;">
                <h1 style="font-size: 5.5rem;">Welcome to Django Blog!</h1>
                <p>Sign Up and start Blogging!</p>
                <a href="signup" class="btn btn-primary btn-lg">Sign Up</a>
                <a href="signin"><p>Already an User? Sign In </p></a>
            </div>
        </div>
    </body>
</html>