{% extends "homepage.html" %}

{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'blogs/images/login.css' %}">
    <title>Blogs | Signup</title>
    <link rel="icon" href="{% static 'blogs/images/logo.jpg' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}    
   

{% block content %}
<body>
    <div class="alert alert-primary" role="alert">
    {% if messages %}
        {{messages}}

    {% endif %}
    </div>
    <!--
    <div align="right">
    <h1><a href="{%url 'login' %}"><button type="button" class="subbutton">Login</button></a></h1>
    </div>-->

    <div class="login-box">
    <form method="POST" >
        {% csrf_token %}
       <!--  <h1 align="center">Signup</h1>
        <label id="email">Email</label>   
        <input type="email" name="email" placeholder="Enter your email">
        <label id="password">Password</label>   
        <input type="password" name="password" placeholder="Enter your password">
        <div align="center">
            <button  class="subbutton">Submit</button>
        </div> -->
        {{form}}
        <div align="center">
            <button  class="subbutton">Submit</button>
        </div> 
    </form>
    </div>
    <div class="box">    
    <div class="info">
        <div class="textarea">
       </div>
    </div>
    </div>
</body>
{% endblock %}
</html>